.header{
    display: block;
    border-bottom: 1px solid #ececec;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: var(--color-accent);
}

.site-nav {
    display: flex;
    margin-left: 93px;
    
}

.site-nav__link{
    display: block;
   
}

.icon{
    fill: currentColor;
}
  

.site-nav__items:not(:last-child){
    margin-right: 50px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__wrapper{
    line-height: 1.71;

    display: flex;
    align-items:center;
}

.site-nav__link{
    color: inherit;
    font-weight: 500;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;

    gap: 10px;
    display: flex;
    align-items: center;
    fill: var(--color-secondary);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        color: var(--color-brend);
    }
}


.auth-nav{
    color: var(--color-secondary);

    display: flex;
    margin-left: auto;
}

.auth-nav__items {
    margin-left: 50px;
}

.auth-nav__link{
    color: inherit;
    font-weight: 500;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;

    gap: 10px;
    display: flex;
    align-items: center;
    fill: var(--color-secondary);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        color: var(--color-brend);
    }
}



.auth-nav__items:hover .auth-nav__icon{
    fill: var(--color-brend);
}